* {
  box-sizing: border-box;
}

body {
  background-color: beige;
}

#container {
  outline: solid 5px black;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  margin: 2rem auto;
  background-color: white;
}

.cell {
  outline: solid 1px black;
  margin: 0;
  padding: 0;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
    width: 100px;
}

input {
    padding: 0;
    width: 100px;
    height: 2.5rem;
}

#main {
    margin-bottom: 8rem;
}

footer {
    border-top: 2px dashed black ;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    
}

#github {
    display: flex;
    justify-content: center;
} 
